@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>

    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li ng-class="{active:tab.tab===4}"><a href="#!/register" ng-click="tab.setTab(4)">Register</a></li>
        <li ng-class="{active:tab.tab===5}"><a href="#!/login" ng-click="tab.setTab(5)">Log in</a></li>
    </ul>
}
