@content-size: 450px;
@jumbotron-margin:45px;
@background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAIAAAACUFjqAAAAFXRFWHRDcmVhdGlvbiBUaW1lAAfbBhwTDDqAejMsAAAAB3RJTUUH3AMWCxcp0J73fAAAAAlwSFlzAAAOdAAADnQBaySz1gAAABxJREFUeNpj/PLxFwNuwALEbJw4pZkY8IJhKw0AlAcDBIeyUC8AAAAASUVORK5CYII=');
@title-padding:1.5em;
@title-font-size: 32px;
#title{
    padding-left:@title-padding;
    font-size:@title-font-size;
}
#title-right{
    margin-left:-.3em; 
}
#carousel-slide{
    max-width:@content-size;
    float: left;
}

.carousel .item {
    left: 0 !important;
      -webkit-transition: opacity .4s; /*adjust timing here */
         -moz-transition: opacity .4s;
           -o-transition: opacity .4s;
              transition: opacity .4s;
}
.carousel-control {
    background-image: none !important; /* remove background gradients on controls */
}
/* Fade controls with items */
.next.left,
.prev.right {
    opacity: 1;
    z-index: 1;
}
.active.left,
.active.right {
    opacity: 0;
    z-index: 2;
}

.nav{
    float:right;
}
.navbar-default{
    background-image:@background-image;
}

.jumbotron{
 min-height:@content-size+(@jumbotron-margin*2);
 
}

body{
    background-image:@background-image;
}

.right-content{
    float: right;
    max-width:@content-size;
    margin-right: @jumbotron-margin;
    margin-bottom:@jumbotron-margin;
}

footer{
    text-align:center;
}